html,body{
		overflow-x: hidden;
	}
.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}
header{background-color:transparent; }
.header{background-color:transparent;color:#fff; }
.DIV_L{ color:#fff;z-index:999; }
.case1{
margin:0px;
background-image:linear-gradient(to top,#ec6d4d,#f29d66) ;
padding-bottom: 15%;
}
.case2{

margin:0px;
}
.bt{
font-size:20px;
font-weight:bolder;
text-align:center;
}
.jt{
padding-top:1%;
}
.img1{
width:100%;
}
.img2{
width: 80px;

}
.img3{
width: 80px;
height:130px;
}
.fx{
font-size:16px;
font-weight:bolder;
text-align:center;
margin:0 10%;
height:40px;
line-height:40px;
background: #fff;
}
.btn_change{
	text-align:center;
}
.btn1{
width:30%;
text-align:center;
margin:0 auto;
border-radius:20px;
margin-top:3%;
}
.main_bg{
	position:relative;
	width: 80%;
    margin: 15% auto 0 auto;
	
}
.ewm{
	position:absolute;
	bottom:10%;
	left:0;
	right:0;
	text-align:center;
}
.swiper-slide{
	width:80px;
}
.fxqh{
	font-size: 0;
}