<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/malls/mall.homePages.css" />
    
</head>

<body>
    <div id="wrap" v-cloak>
        <!-- 节能灶具s -->
        <div class="categaryss" v-for="(v,i) in 5" :key="i">
            <div class="chef-main-head">
                <div class="chef-head-left">
                    <i class="iconfont icon-qianbi"></i>
                    <div class="chef-left-text">冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱</div>
                </div>
                <div class="chef-head-more">
                    更多
                    <i class="iconfont icon-htbArrowright"></i>
                </div>
            </div>
            <!-- 节能灶具列表 -->

            <div class="chef-form-card" v-for="(value,index) in 6" :key="index">
                <div class="chef-form-leftimg">
                    <img :src="value.default_image" alt="">
                </div>
                <div class="chef-right-content">
                    <p class="chef-head1"> 冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱</p>
                    <div class="chef-head2">冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱</div>
                    <div class="chef-head3 chef-tags">
                        <span 
                        class="forum-foot-bg" 
                        v-for="(item,number) in 5" 
                        :key="number">冰箱 冰箱</span>
                    </div>
                    <div class="chef-head4 ">
                        <p class="swiper-red ">
                            <span :class="{graytext: kitchStore}">￥2000.00</span>
                            <span v-if="kitchStore" class="kitchStore"><span class="mall-earn"> 赚</span>25.33</span>
                            <span class="swiper-del" v-else="kitchStore">￥10000.00</span>
                        </p>
                        <p class="chef-head2 sales-volume">销量5000</p>
                    </div>
                </div>
            </div>

            <div class="chef-busy-footer">
                <div class="chef-lookmorechef chef-footer-item">
                    <p class="chef-lookmorechef-left">
                        <i class="iconfont icon-bofang"></i>查看更多
                    </p>
                </div>
                <div class="chef-lookmorechef chef-footer-item">
                    <p class="chef-lookmorechef-left">
                        <i class="iconfont icon-shuaxin1"></i>
                        换一批
                    </p>
                </div>
            </div>
        </div>
        <!-- 全部最新热卖 -->
        <div class="chef-hotslist-head">
            <p :class="['hotslist-head-item',bottomLists.activeIndex==0?'hotslist-head-active':'']"
                @click="changeBottomList(0)" tapmode>全部</p>
            <p :class="['hotslist-head-item',bottomLists.activeIndex==1?'hotslist-head-active':'']"
                @click="changeBottomList(1)" tapmode>最新</p>
            <p :class="['hotslist-head-item',bottomLists.activeIndex==2?'hotslist-head-active':'']"
                @click="changeBottomList(2)" tapmode>热卖</p>
        </div>
        <!-- 全部最新热卖列表 -->
        <div class="bestSellers">
            <div 
            class="bestSellers-item" 
            v-for="(v,i) in 12" 
            :key="i"
            @click="goGoodsDet(v.goods_id)" 
            ref="bottoms"
            tapmode>
                <div class="bestSellers-img">
                    <img v-lazy="v.default_image" :key="v.default_image" >
                </div>
                <div class="bestSellers-item-bottom">
                    <p class="introduce introduce-text">冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱冰箱</p>
                    <p class="bestSellers-red introduce">
                        <p class="introduce-left">
                            <span class="bestSellers-text" :class="{graytext: kitchStore}">￥5000.00 </span>
                            <span v-if="kitchStore" class="kitchStore"><span class="mall-earn"> 赚</span>2000.00</span>
                            <span class="bestSellers-del" v-else="kitchStore"> ￥{{v.oprice}}</span>
                        </p>
                        <span class="salesVolume">销量{{v.orders}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="foot-add-more ">{{bottomText}}</div>
        <div class="suspension" @click.stop="goService" tapmode>
            <i class="iconfont icon-kefu1"></i> 
            <span class="">客服</span> 
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../script/lib/vue-lazyload.js"></script>
<!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=aa29124286f9f96090ad42e3447d6a51"></script> -->
<script type="text/javascript">
    var userId = window.localStorage.getItem("userId");
    console.log(userId)
    Vue.use(VueLazyload, {
        loading: '../image/cacheImg.jpg'
    })
    //u4422w92700z19820,
    $(function() {
        FastClick.attach(document.body);
    })
    var wrap = new Vue({
        el: "#wrap",
        data: {
            URL: "",
            selectedCity: "湖州",
            topBanner: {},
            imgDefalt: '../image/headimgDef.png',
            swiperTop: null,
            defautCateId:0,
            category: [],
            noKillGoods: false,
            killGoodsArr:[],//秒杀产品列表
            kitchStore:0,//是否厨小店
            chefCommendArr:[],
            upperRecentArr:[],
            countTime: {
                day:0,
                hour: 0,
                minute: 0,
                second: 0,
                endText: ""
            },
            bottomLists: {
                activeIndex: 0,
                list: [[], [], []],
                start: [0, 0, 0],
                end:[false,false,false],
                showList: []
            },
            bottomText:"正在努力加载..."
        },
        computed: {
        },
        methods: {
            //筛选城市
            selectCity: function selectCity() {
                var that = this
                var UIActionSelector = api.require('UIActionSelector');
                UIActionSelector.open({
                    datas: 'widget://res/city.json',
                    layout: {
                        row: 5,
                        col: 3,
                        height: 30,
                        size: 12,
                        sizeActive: 14,
                        rowSpacing: 5,
                        colSpacing: 10,
                        maskBg: 'rgba(0,0,0,0.2)',
                        bg: '#fff',
                        color: '#666',
                        colorActive: '#f00',
                        colorSelected: '#000'
                    },
                    animation: true,
                    cancel: {
                        text: '取消',
                        size: 12,
                        w: 90,
                        h: 35,
                        bg: '#fff',
                        bgActive: '#ccc',
                        color: '#888',
                        colorActive: '#fff'
                    },
                    ok: {
                        text: '确定',
                        size: 12,
                        w: 90,
                        h: 35,
                        bg: '#fff',
                        bgActive: '#ccc',
                        color: '#888',
                        colorActive: '#fff'
                    },
                    title: {
                        text: '请选择',
                        size: 12,
                        h: 44,
                        bg: '#eee',
                        color: '#888'
                    },
                    fixedOn: api.group1,
                }, function (ret, err) {
                    if (ret) {
                        //console.log(JSON.stringify(ret.level1));
                        if (ret.eventType == 'ok') {
                            if (ret.level2 == '市辖区' || ret.level2 == '县') {
                                that.selectedCity = ret.level1
                                window.localStorage.setItem("selectedCity", ret.level1)
                            } else {
                                that.selectedCity = ret.level2
                                window.localStorage.setItem("selectedCity", ret.level2)
                            }
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            //跳转搜索页面
            goSearch: function goSearch() {
                api.openWin({
                    name: 'search',
                    url: './search.html',
                    bounces: false,
                    overScrollMode:'scroll',
                    allowEdit:true,
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {

                    }
                });
            },
            //跳转积分商城
            gointegralStore:function gointegralStore(){
                api.openWin({
                    name: 'mall.integralStore',
                    url: './mall.integralStore.html',
                    bounces: false,
                    overScrollMode:'scroll',
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {

                    }
                });
            },
            //跳转邀请好友
            goOtherRegister:function goOtherRegister(){
                api.openWin({
                    name: 'mall.register',
                    url: './mall.register.html',
                    bounces: false,
                    overScrollMode:'scroll',
                    allowEdit:true,
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {

                    }
                });
            },
            //跳转客服
            goService:function goService(){
                api.openWin({
                name: 'service',
                url: './service.html',
                bounces: false,
                overScrollMode:'scroll',
                /* reload:true, */
                animation:{
                    type:"push",                //动画类型（详见动画类型常量）
                    subType:"from_right",       //动画子类型（详见动画子类型常量）
                    duration:300                //动画过渡时间，默认300毫秒
                },
                pageParam: {
                    sorce: 'myinfo',
                },
                });
                
            },
            goInvitationAdv:function(){
                api.openWin({
                    name: 'mall.invitationAdv',
                    url: './mall.invitationAdv.html',
                    bounces: false,
                    overScrollMode:'scroll',
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {

                    }
                });  
            },
            goSpecialOffer:function(){
                api.toast({
                    msg: '敬请期待',
                    duration: 2000,
                    location: 'bottom'
                });
            },
            goBrand:function(){
                api.toast({
                    msg: '敬请期待',
                    duration: 2000,
                    location: 'bottom'
                });
            },
            //判断是否为厨小店
            isLittleKitchen :function(){
                var that = this
                api.ajax({
                    url: that.URL + 'index.php?app=appvstore',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            user_id: userId
                        }
                    }
                }, function (ret, err) {
                    if (ret && ret.done) {
                       that.kitchStore = ret.retval
                       window.localStorage.setItem("kitchStore",ret.retval)//本地存储是否厨小店
                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        console.log(err.msg)
                        /* api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });  */
                    }
                });
            },
            //获得头部轮播
            getTopBanner: function getTopBanner() {
                var that = this
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=home_lunbo',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {

                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        that.topBanner = ret.retval
                        that.$nextTick(function () {
                            that.initSwiperTop()
                        })
                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
            //初始化头部轮播图
            initSwiperTop: function swiperNotice() {
                this.swiperTop = new Swiper('.swiper-top', {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    loop: true,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    observer: true,
                    observeParents: true,
                    on: {
                        click: function () {
                            const realIndex = this.realIndex;
                            //that.handleClickSlide(realIndex); 
                        }
                    },
                    preventLinksPropagation: false   // 阻止点击事件冒泡
                });
            },
            //初始化中间轮播图
            initSwiperMid: function initSwiperMid() {
                this.swiperTop = new Swiper('.forum-swiper-recommend', {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    loop: true,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.chef-forum-recommend',
                        clickable: true,
                    },
                    observer: true,
                    observeParents: true,
                    on: {
                        click: function () {
                            const realIndex = this.realIndex;
                            //that.handleClickSlide(realIndex); 
                        }
                    },
                    preventLinksPropagation: false   // 阻止点击事件冒泡
                });
            },
            //跳转4大子页面
            goMallChild: function goChefChild(i,params) {
                var nameArr = ['mall.goodThing', 'mall.newArrival', 'mall.cooking', 'category.all']
                api.openWin({
                    name: nameArr[i],
                    url: './' + nameArr[i] + '.html',
                    bounces: false,
                    overScrollMode:'scroll',
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {
                        cate_id:params
                    }
                });
            },
            //换一批
            changeAbatch: function changeAbatch() {
                this.start += 5
                //this.getRecommendColumn(this.start)
            },
            //初始化主题模块 名厨
            initSwiperChef: function initSwiperChef() {
                var swiperChef = new Swiper('.chef-swiper-recommend', {
                    slidesPerView: 'auto',
                    observer: true,
                    observeParents: true,
                    slidesOffsetBefore: 150,
                    freeMode: true,
                    on: {
                        click: function () {
                            const realIndex = this.realIndex;
                            //that.handleClickSlide(realIndex);
                        }
                    },
                    preventLinksPropagation: false   // 阻止点击事件冒泡
                });
            },
            //初始化主题模块 名厨
            initSwiperGoods: function initSwiperGoods() {
                var swiperGoods = new Swiper('.goods-swiper-recommend', {
                    slidesPerView: 'auto',
                    observer: true,
                    observeParents: true,
                    slidesOffsetBefore: 150,
                    freeMode: true,
                    on: {
                        click: function () {
                            const realIndex = this.realIndex;
                           // console.log(this.realIndex)
                        }
                    },
                    preventLinksPropagation: false   // 阻止点击事件冒泡
                });
            },
            //初始化宝贝精选
            initKill:function initKill(){
                new Swiper('.swiper-rush', {
                    slidesPerView: "auto",
                    observer: true,
                    observeParents: true,
                    preventLinksPropagation: false 
                });
            },
            //获取模块名称
            getAll_category: function getAll_category() {
                var that = this
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=get_gcategory_all',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {

                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        that.defautCateId=ret.retval[0].cate_id
                        ret.retval.forEach(function (v, i) {
                            if (v.goods_infos.length) {
                                v.goods_infos.forEach(function (value, index) {
                                    if (value.tags.length) {
                                        value.tags = value.tags.split(",")
                                        //console.log(value.tags)
                                    }
                                    value.default_image = value.default_image.length?that.URL+value.default_image:"../image/cacheImg.jpg"
                                   /*  value.oprice = value.oprice<=1? value.oprice:parseInt(value.oprice)
                                    value.price = value.price<=1? value.price:parseInt(value.price) */
                                })
                            }
                        })
                        that.category = ret.retval

                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
            //获得秒杀商品
            load_list: function (start_time, end_time) {
                var that = this
               /*  console.log(start_time);
                console.log(end_time); */
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=get_spike_goods',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            user_id: userId,
                            start_time: start_time,
                            end_time: end_time,
                            start: 0,
                            end: 6,
                        }
                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        that.killGoodsArr = ret.retval
                        that.$nextTick(function(){
                            that.initKill()
                        })
                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
            //秒杀时段
            get_spike_time: function get_spike_time() {
                var that = this
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=get_spike_time',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {

                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        that.noKillGoods = false
                        that.load_list(ret.retval[0].start_time,ret.retval[0].end_time)
                        that.countdowm(ret.retval[0].end_time)
                    } else if (ret) {
                        that.noKillGoods = true
                        //暂无秒杀
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
            //星厨推荐
            chefCommend:function chefCommend(){
                var that = this
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=get_recommended_goods',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            start: 0
                        }
                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret.retval));
                    if (ret && ret.done) {
                        ret.retval.forEach(function(value,index){
                            value.default_image = value.default_image.length?that.URL+value.default_image:"../image/cacheImg.jpg"
                            /* value.price = value.price<=1?value.price:parseInt(value.price)
                            value.oprice = value.oprice<=1?value.oprice:parseInt(value.oprice) */
                        })
                       that.chefCommendArr=ret.retval
                       that.$nextTick(function(){
                            that.initSwiperChef()
                       })
                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
            //最新上架
            upperRecent:function(){
                var that = this
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=get_new_goods',
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: { start: 0 }
                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        ret.retval.forEach(function(value,index){
                            value.default_image = value.default_image.length?that.URL+value.default_image:"../image/cacheImg.jpg"
                            /* value.price = value.price<=1?value.price:parseInt(value.price)
                            value.oprice = value.oprice<=1?value.oprice:parseInt(value.oprice) */
                        })
                        
                                    
                        that.upperRecentArr = ret.retval
                        that.$nextTick(function(){
                            that.initSwiperGoods()
                        })
                    } else if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },

            // 查看更多
            goKitchen: function goKitchen(parent_id,cate_id) {
                var frameName = cate_id==3?"mall.goodThing":"mall.cooking"
                api.openWin({
                    name: frameName,
                    url: frameName+".html",
                    bounces: false,
                    overScrollMode:'scroll',
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {
                        cate_id: cate_id
                    }
                });
                /* api.openWin({
                    name: 'category.view',
                    url: './category.view.html',
                    bounces: false,
                    animation:{
                        type:"push",                
                        subType:"from_right",       
                        duration:300               
                    },
                    pageParam: {
                        parent_id: parent_id,
                        cate_id: cate_id,
                        all_flag:0
                    }
                }); */
            },
            //进入商品详情
            goGoodsDet: function goGoodsDet(id,isKill,endTime,sale,upper) {
                api.openWin({
                    name: 'mall.description',
                    url: './mall.description.html',
                   /*  name: 'goods.view',
                    url: './goods.view.html', */
                    bounces: false,
                    overScrollMode:'scroll',
                    animation: {
                        type: "push",
                        subType: "from_right",
                        duration: 300
                    },
                    pageParam: {
                        goodId: id,
                        seckill:isKill,
                        endTime:endTime,
                        sale:sale,
                        upper:upper
                    }
                });
            },
            //换一批
            addMoreGoods: function addMoreGoods(id) {
                var that = this
                console.log('909'+id)
                that.category.forEach(function (v, i) {
                    if (v.cate_id == id) {
                        api.ajax({
                            url: that.URL + '/index.php?app=homepage&act=get_rand_goods',
                            method: 'post',
                            cache: false,
                            timeout: 30,
                            dataType: 'json',
                            returnAll: false,
                            data: {
                                values: {
                                    cate_id: id
                                }
                            }
                        }, function (ret, err) {
                            //console.log(JSON.stringify(ret.retval));
                            if (ret && ret.done) {
                                ret.retval.forEach(function (value, index) {
                                    if (value.tags.length) {
                                        value.tags = value.tags.split(",")
                                    }
                                    value.default_image = value.default_image.length?that.URL+value.default_image:"../image/cacheImg.jpg"
                                   /*  value.price = parseInt(value.price)
                                    value.oprice = parseInt(value.oprice) */
                                })
                                Vue.set(that.category[i], 'goods_infos', ret.retval)
                            } else if (ret) {
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'middle'
                                });
                            } else {
                                api.toast({
                                    msg: err.msg,
                                    duration: 2000,
                                    location: 'middle'
                                });
                            }
                        });
                    }
                })
            },
            //倒计时
            countdowm: function (timestamp) {
                //countTime
                var self = this;
                var timer = setInterval(function () {
                    var nowTime = new Date();
                    var endTime = new Date(timestamp * 1000);
                   /*  var endTime = new Date(timestamp); */
                    var t = endTime.getTime() - nowTime.getTime();
                    if (t > 0) {
                        var day = Math.floor(t / (3600000 * 24));
                        var hour = Math.floor((t / 3600000) % 24);
                        //var hour = Math.floor((t / 3600000));
                        var min = Math.floor((t / 60000) % 60);
                        var sec = Math.floor((t / 1000) % 60);
                        hour = hour < 10 ? "0" + hour : hour;
                        min = min < 10 ? "0" + min : min;
                        sec = sec < 10 ? "0" + sec : sec;
                        self.countTime.day = day
                        self.countTime.hour = hour
                        self.countTime.minute = min
                        self.countTime.second = sec
                    } else {
                        clearInterval(timer);
                        self.countDowmCB();
                    }
                }, 1000);
            },
            countDowmCB: function countDowmCB() {
                this.countTime.endText = "已结束";
            },
            changeBottomList: function (i) {
                var that = this
                this.bottomLists.activeIndex = i
                var funcArr = ["get_all_goods_new", "get_new_goods", "get_hot_goods"]
                /* console.log('激活的index='+this.bottomLists.activeIndex)
                console.log('start'+that.bottomLists.start[that.bottomLists.activeIndex]) */
                api.ajax({
                    url: that.URL + '/index.php?app=homepage&act=' + funcArr[i],
                    method: 'post',
                    cache: false,
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: { start: that.bottomLists.start[i] }
                    }
                }, function (ret, err) {
                    //console.log(JSON.stringify(ret));
                    if (ret && ret.done) {
                        if(ret.retval.length<=0){
                            that.bottomLists.end[i] = true
                        }else{
                            ret.retval.forEach(function(v,index){
                                v.default_image = v.default_image.length?that.URL+v.default_image:"../image/cacheImg.jpg"
                               /*  v.price = v.price<=1?v.price:parseInt(v.price)
                                v.oprice = v.oprice<=1?v.oprice:parseInt(v.oprice) */
                                that.bottomLists.list[i].push(v)
                            })
                            that.bottomLists.start[i] += 6;
                            that.bottomLists.end[i] = false
                        }
                        that.bottomLists.showList = that.bottomLists.list[i]
                        
                    } else if (ret) {
                        //that.noKillGoods = true
                        //暂无秒杀
                        that.bottomLists.end[i] = true
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    } else {
                        that.bottomLists.end[i] = true
                        api.toast({
                            msg: err.msg,
                            duration: 2000,
                            location: 'middle'
                        });
                    }
                });
            },
        },
        created: function created() {
            var that = this
            this.selectedCity = window.localStorage.getItem("selectedCity")
            this.$nextTick(function () {
                apiready = function () {
                    console.log(userId)
                    var header = that.$refs.header;
                    $api.fixStatusBar(header);
                    that.URL = $api.URL()
                    console.log(that.URL)
                    $('.swiper-wrapper').on('touchstart', function () {
                        api.setFrameAttr({
                            name: 'mall',
                            bounces: false
                        });
                    });
                    $('.swiper-wrapper').on('touchend', function () {
                        api.setFrameAttr({
                            name: 'mall',
                            bounces: true
                        });
                    });
                    //上拉加载
                    api.addEventListener({
                        name: 'scrolltobottom',
                        extra: {
                            threshold: 50 //距离底部距离
                        }
                    }, function (ret, err) {
                        if (that.bottomLists.end[that.bottomLists.activeIndex] ) {
                            that.bottomText = "——————到底线了——————"
                            api.toast({
                                msg: '没有更多了',
                                duration: 2000,
                                location: 'bottom'
                            });
                        } else {
                            
                            that.changeBottomList(that.bottomLists.activeIndex)
                        }
                    });
                    that.isLittleKitchen()
                    that.getTopBanner()
                    that.getAll_category()

                    //that.initSwiperMid()
                    that.chefCommend()
                    that.upperRecent()
                    that.get_spike_time()
                    that.changeBottomList(that.bottomLists.activeIndex)
                    //that.countdowm((new Date()).valueOf() + 10000)
                    api.setCustomRefreshHeaderInfo({
                        bgColor: '#F6F6F6',
                        images: {
                            pull: 'widget://image/refresh/pulling.png',
                            transform: [
                                'widget://image/refresh/transform0.png',
                                'widget://image/refresh/transform1.png',
                                'widget://image/refresh/transform2.png',
                                'widget://image/refresh/transform3.png',
                                'widget://image/refresh/transform4.png',
                                'widget://image/refresh/transform5.png',
                                'widget://image/refresh/transform6.png'
                            ],
                            load: [
                                'widget://image/refresh/loading0.png',
                                'widget://image/refresh/loading1.png',
                                'widget://image/refresh/loading2.png',
                                'widget://image/refresh/loading3.png',
                                'widget://image/refresh/loading4.png',
                            ]
                        }
                    }, function (ret, err) {
                        
                        setTimeout(function(){
                            api.refreshHeaderLoadDone()
                            window.location.reload()
                        }, '500');
                    });
                }
            })
        },
        mounted: function mounted() {
            //this.initSwiperTop()
        },
    })
</script>

</html>